* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #e3db63, #63cde3, #a8f175);
    padding: 10px;
}

.todo_app {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}